/*
  Name: CH
  Date:  October 9, 2024
  This is the global.css page for my portfolio of web development work.
  It is used by all pages in my portfolio to give the site a consistent
  look and feel.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
}
.animate-slideUp {
  animation: slideUp 1s ease-in-out forwards;
}

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: #2D2D2D; /* Updated for a softer look */
  --foreground: #E5E5E5;
}

/* Section Styles */
section {
  @apply py-20 px-4 md:px-10; /* Padding for sections */
}

/* Gradient Background for Hero Section */
.hero {
  @apply bg-gradient-to-r from-darkGray to-gray-800;
}
/* Custom Card Styles */
.card {
  @apply bg-gray-800 p-8 rounded-lg shadow-md transition-transform duration-300;
}

.card:hover {
  @apply scale-105 shadow-2xl;
}

/* Button Styles */
button, .button {
  @apply bg-silver text-darkGray py-2 px-4 rounded-md transition duration-200 ease-in-out shadow-md;
}

button:hover, .button:hover {
  @apply bg-gray-600 transform scale-105;
}
