@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkGray text-white;
}

h1, h2, h3 {
  @apply font-bold text-silver;
}

h1 {
  @apply text-5xl; /* Larger for main headings */
}

h2 {
  @apply text-4xl; /* Adjusted for better hierarchy */
}

h3 {
  @apply text-3xl; /* Adjusted for better hierarchy */
}

a {
  @apply underline text-silver transition duration-200 ease-in-out;
}

a:hover {
  @apply text-white; /* Change color on hover */
}

/* Button Styles */
button, .button {
  @apply bg-silver text-darkGray py-2 px-4 rounded-md transition duration-200 ease-in-out shadow-md;
}

button:hover, .button:hover {
  @apply bg-gray-600 transform scale-105;
}

/* Card Styles */
.card {
  @apply bg-gray-800 p-6 rounded-lg shadow-lg transition duration-300 ease-in-out;
}

.card:hover {
  @apply shadow-2xl transform scale-105;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #2E2E2E;
}
::-webkit-scrollbar-thumb {
  background: #C0C0C0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
